[Unit]
Description=IQDB

[Service]
Type=simple
User=danbooru
Restart=always
ExecStart=/usr/local/bin/iqdb http localhost 5588 /var/www/iqdbs/shared/data/iqdb.db
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
